<div class="Application">
  <div class="col-lg-10" id="applyloan">
    <h1 class="text-center">Loan Application</h1>

    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Customer ID:</label>
            <input type="text" formControlName="customerId" class="form-control" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Loan Amount:</label>
            <input type="number" (keypress)="keyPressNumbers($event)" formControlName="loanAmount" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && function.loanAmount.errors }" />
            <div *ngIf="submitted && function.loanAmount.errors" class="invalid-feedback">
              <div *ngIf="function.loanAmount.errors.required">Loan Amount is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Trade Date:</label>
            <input type="date" formControlName="tradeDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && function.tradeDate.errors }"/>
            <div *ngIf="submitted && function.tradeDate.errors" class="invalid-feedback">
              <div *ngIf="function.tradeDate.errors.required">Trade Date is required</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && function.startDate.errors }"/>
            <div *ngIf="submitted && function.startDate.errors" class="invalid-feedback"> 
              <div *ngIf="function.startDate.errors.required">Start Date is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <label>Loan Duration in Years:</label>
          <div class="form-group">
            <input type="number" name="loanDuration" id="loanDurationInputId" class="form-control"
              formControlName="loanDuration" value="0" min="0" oninput="loanDurationInputId.value" (change)="setEndDate($event)"
              [ngClass]="{ 'is-invalid': submitted && function.loanDuration.errors }"/>
            <div *ngIf="submitted && function.loanDuration.errors" class="invalid-feedback">
              <div *ngIf="function.loanDuration.errors.required">Select Loan Duration</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>End Date:</label>
            <input type="date" formControlName="endDate" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Rate Of Interest(in %):</label>
            <input type="number" (keypress)="keyPressNumbers($event)" formControlName="rateOfInterest"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && function.rateOfInterest.errors }" />
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label">Payment Intervel</label>
            <select class="form-select" placeholder="Select Type of Loan" required>
              <option value="1" (change)="calculateEmiPayments($event)">Monthly</option>
              <option value="2" (change)="calculateEmiPayments($event)">Half Year</option>
              <option value="3" (change)="calculateEmiPayments($event)">One Year</option>
            </select>
            <div *ngIf="submitted && function.paymentInterval.errors" class="invalid-feedback">
              <div *ngIf="function.paymentInterval.errors.required">Payment Intervel is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
         <div class="col-lg-6">
          <div class="form-group">
            <label>Payment Schedule:</label>
            <input type="text" (keypress)="keyPressNumbers($event)" formControlName="payments"
              class="form-control" />
          </div>
        </div> 
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label">Payment Term</label>
            <select class="form-select" placeholder="Select Type of Loan" required>
              <option value="1" (change)="calculateInterestExtimate($event)">Interest</option>
              <option value="2" (change)="calculateInterestExtimate($event)">Even Principal</option>
            </select>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="form-label">Interest Extimate</label>
            <input type="number" (keypress)="keyPressNumbers($event)" formControlName="interestExtimate"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && function.interestExtimate.errors }"/>
          </div>
        </div>
      <div class="row" id="button">
        <div class="col-md-6 float-right form-group">
          <button class="btn btn-outline-success btn-lg ">Submit</button>
        </div>
        </div>
        </form>
      </div>
  </div>